* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9f9f9;
}
.box1 {
  height: 950px;
  width: 1060px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}
.logo {
  margin: 50px 0 0 45px;
}
.topMenu {
  height: 40px;
  width: 966px;
  margin: 40px 0 0 45px;
  display: inline-block;
  background: rgba(148, 148, 148, 1);
  background: -moz-linear-gradient(top, rgba(148, 148, 148, 1) 0%, rgba(68, 68, 68, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(148, 148, 148, 1)), color-stop(100%, rgba(68, 68, 68, 1)));
  background: -webkit-linear-gradient(top, rgba(148, 148, 148, 1) 0%, rgba(68, 68, 68, 1) 100%);
  background: -o-linear-gradient(top, rgba(148, 148, 148, 1) 0%, rgba(68, 68, 68, 1) 100%);
  background: -ms-linear-gradient(top, rgba(148, 148, 148, 1) 0%, rgba(68, 68, 68, 1) 100%);
  background: linear-gradient(to bottom, rgba(148, 148, 148, 1) 0%, rgba(68, 68, 68, 1) 100%);
}
ul.menu {
  margin: 0;
  padding: 8px 0;
}
ul.menu li {
  display: inline;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
ul.menu li a {
  color: white;
  text-decoration: none;
}
ul.menu li:hover {
  background: rgba(74, 74, 74, 1);
  background: -moz-linear-gradient(top, rgba(74, 74, 74, 1) 0%, rgba(46, 46, 46, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74, 74, 74, 1)), color-stop(100%, rgba(46, 46, 46, 1)));
  background: -webkit-linear-gradient(top, rgba(74, 74, 74, 1) 0%, rgba(46, 46, 46, 1) 100%);
  background: -o-linear-gradient(top, rgba(74, 74, 74, 1) 0%, rgba(46, 46, 46, 1) 100%);
  background: -ms-linear-gradient(top, rgba(74, 74, 74, 1) 0%, rgba(46, 46, 46, 1) 100%);
  background: linear-gradient(to bottom, rgba(74, 74, 74, 1) 0%, rgba(46, 46, 46, 1) 100%);
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
  padding: 9px 20px;
}
.mainContent {}
ul.sidemenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.last a {
  border-bottom: 0;
}
ul.sidemenu li a {
  color: #656363;
  display: block;
  font-size: 12px;
  padding: 10px 0 10px 20px;
  text-decoration: none;
  border-bottom: 1px solid #c8c8c8;
}
.mainContent ul.sidemenu li a:hover {
  background: #f9f9f9;
  padding: 10px 0px 10px 35px;
}
.sideMenuDiv {
  float: left;
  width: 238px;
  border: 1px solid #c8c8c8;
  margin: 40px 0 0 45px;
  font-family: 'Open Sans', sans-serif;
}
.photo {
  height: 400px;
  width: 675px;
  border: 1px solid #c8c8c8;
  float: left;
  margin: 40px 40px 0 49px;
  text-align: center;
}
.text {
  float: right;
  margin: 40px 50px 0 0;
  width: 645px;
  font-size: 14px;
  line-height: 26px;
  color: #585858;
  font-family: 'Open Sans', sans-serif;
}
.downMenuDiv {
  height: 40px;
  width: 966px;
  margin: 40px 0 0 45px;
  display: inline-block;
  background-color: #e1e1e1;
}
ul.downMenu {
  margin: 0;
  padding: 10px 0;
}
ul.downMenu li {
  display: inline;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
ul.downMenu li a {
  color: #2c2c2c;
  text-decoration: none;
}
ul.downMenu li.copyright {
  float: right;
  color: #2c2c2c;
  padding: 0 20px 10px 0;
}
ul.downMenu li a:hover {
  text-decoration: underline;
}
